body {
    background: url("images/background.gif");
    background-size: cover; /* Растягивает изображение на всю область */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Отключает повторение */
    background-attachment: fixed; /* Фиксирует фон при прокрутке */
    margin: 0; /* Убирает отступы по умолчанию */
    min-height: 100vh; /* Минимальная высота = высоте окна */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

label[for="array"] {
    display: block;
    margin-bottom: 10px; /* Опустить подпись над полем ввода */
}

input#array {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* Добавить отступ */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.text-center {
    text-align: center;
    margin-top: 30px; /* Опустить ссылки */
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #0056b3;
    }
